<h1>Qui sommes-nous??</h1>
<p>1. Ensemble d'êtres humains vivant en groupe organisé : Les hommes vivent en société.
    Synonymes :
    
    collectivité - communauté
    
    2. Milieu humain dans lequel quelqu'un vit, caractérisé par ses institutions, ses lois, ses règles : Les conflits entre l'individu et la société.
    3. Tout groupe social formé de personnes qui se réunissent pour une activité ou des intérêts communs : Une société brillante entourait le nouvel élu.
    Synonymes :
    
    bande - cercle - clan - compagnie - groupe - troupe
    
    4. Familier. Ensemble des personnes actuellement réunies : Saluer la société.
    Synonymes :
    
    assemblée - rassemblement - réunion
    
    5. Compagnie de quelqu'un, d'un groupe, relations habituelles avec eux : Rechercher la société des femmes.
    Synonymes :
    
    commerce - entourage - fréquentation</p>
<p>Agriculture

    Société d'intérêt collectif agricole (S.I.C.A.), organisme dont la fonction est de créer ou de gérer des installations et des équipements, ou d'assurer des services, au bénéfice des agriculteurs d'une région rurale ou de l'ensemble des habitants de cette région.
    Banque
    
    Société financière, établissement de crédit qui effectue des opérations bancaires sans faire appel aux dépôts du public, mais avec les seuls fonds provenant du groupe dont il fait partie.
    Droit
    
    Impôt sur les sociétés, impôt sur les bénéfices des sociétés, institué en 1948.
    Société anonyme (SA), société dont le capital est divisé en actions négociables et qui est constituée entre des actionnaires qui ne supportent les pertes qu'à hauteur de leurs apports.
    Société à responsabilité limitée (SARL), société dont le capital est divisé en parts sociales, qui ne peuvent être cédées à des personnes étrangères à la société qu'avec le consentement de la majorité en nombre des associés représentant au moins les trois quarts du capital social, et dont les associés ne supportent les pertes qu'à hauteur de leurs apports.
    Société civile, société ayant pour objet une activité civile, mais qui peut adopter une forme commerciale.
    Société civile de placement immobilier (S.C.P.I.), société de placements financiers regroupant des personnes possédant des parts d'immeubles.
    Société civile immobilière (S.C.I.), société civile qui a pour objet la construction et la vente d'immeubles.
    Société civile professionnelle (S.C.P.), société regroupant des personnes physiques exerçant une profession libérale ou des officiers ministériels.
    Société commerciale, société de personnes (société en nom collectif, société en commandite) ou société de capitaux (société anonyme, société à responsabilité limitée).
    Société d'acquêts, dénomination de la communauté d'acquêts, adjointe parfois à un régime matrimonial de séparation des biens.
    Société d'économie mixte, société anonyme dont une partie des actions appartient à une personne morale de droit public et l'autre partie est détenue par des personnes privées.
    Société en nom collectif, société dans laquelle les associés ont la qualité de commerçant et sont tous tenus solidairement et indéfiniment des engagements de la société sur tous leurs biens personnels.
    Éthologie
    
    Société animale, groupement d'individus d'une espèce animale présentant une structure sociale caractéristique.
    Synonyme :
    
    communauté animale
    
    Littérature
    
    Société littéraire, réunion d'écrivains rassemblés par une même conception esthétique ou pour la défense d'objectifs littéraires identiques.
    
    2. Milieu humain dans lequel quelqu'un vit, caractérisé par ses institutions, ses lois, ses règles : Les conflits entre l'individu et la société.
    3. Tout groupe social formé de personnes qui se réunissent pour une activité ou des intérêts communs : Une société brillante entourait le nouvel élu.
    Synonymes :
    
    bande - cercle - clan - compagnie - groupe - troupe
    
    4. Familier. Ensemble des personnes actuellement réunies : Saluer la société.
    Synonymes :
    
    assemblée - rassemblement - réunion
    
    5. Compagnie de quelqu'un, d'un groupe, relations habituelles avec eux : Rechercher la société des femmes.
    Synonymes :
    
    commerce - entourage - fréquentation</p>
    <img src="../../../assets/img13.jpg">
    <h1>objectifs</h1>
    <p>CITATIONS
        ÉMILE CHARTIER, DIT ALAIN (Mortagne-au-Perche 1868-Le Vésinet 1951)
        L'individu qui pense contre la société qui dort, voilà l'histoire éternelle, et le printemps aura toujours le même hiver à vaincre.
        Politique, P.U.F.
        ÉMILE CHARTIER, DIT ALAIN (Mortagne-au-Perche 1868-Le Vésinet 1951)
        Fondez une Société des honnêtes gens, tous les voleurs en seront.
        Propos d'un Normand, tome III , Gallimard
        ÉMILE AUGIER (Valence, Drôme, 1820-Paris 1889)
        Académie française, 1857
        Crève donc, société !
        Les Effrontés, I, 7, le marquis , Michel Lévy
        JACQUES BAINVILLE (Vincennes 1879-Paris 1936)
        Académie française, 1935
        Le pouvoir d'oublier, très fort chez les individus, l'est encore plus dans les sociétés humaines.
        Lectures, Fayard
        GEORGES BERNANOS (Paris 1888-Neuilly-sur-Seine 1948)
        Les vrais ennemis de la société ne sont pas ceux qu'elle exploite ou tyrannise, ce sont ceux qu'elle humilie.
        Nous autres Français, Gallimard
        LOUIS, VICOMTE DE BONALD (château du Monna, près de Millau, 1754-château du Monna, près de Millau, 1840)
        Académie française, 1816
        La littérature est l'expression de la société, comme la parole est l'expression de l'homme.
        Pensées sur divers sujets
        GEORGES LOUIS LECLERC, COMTE DE BUFFON (Montbard 1707-Paris 1788)
        L'Homme n'est l'homme que parce qu'il a su se réunir à l'homme.
        Histoire naturelle, De l'homme
        SÉBASTIEN ROCH NICOLAS, DIT NICOLAS DE CHAMFORT (près de Clermont-Ferrand 1740-Paris 1794)
        Académie française, 1781
        La société est composée de deux grandes classes : ceux qui ont plus de dîners que d'appétit et ceux qui ont plus d'appétit que de dîners.
        Maximes et pensées
        SÉBASTIEN ROCH NICOLAS, DIT NICOLAS DE CHAMFORT (près de Clermont-Ferrand 1740-Paris 1794)
        Académie française, 1781
        Les gens du monde ne sont pas plus tôt attroupés qu'ils se croient en société.
        Maximes et pensées
        
        2. Milieu humain dans lequel quelqu'un vit, caractérisé par ses institutions, ses lois, ses règles : Les conflits entre l'individu et la société.
        3. Tout groupe social formé de personnes qui se réunissent pour une activité ou des intérêts communs : Une société brillante entourait le nouvel élu.
        Synonymes :
        
        bande - cercle - clan - compagnie - groupe - troupe
        
        4. Familier. Ensemble des personnes actuellement réunies : Saluer la société.
        Synonymes :
        
        assemblée - rassemblement - réunion
        
        5. Compagnie de quelqu'un, d'un groupe, relations habituelles avec eux : Rechercher la société des femmes.
        Synonymes :
        
        commerce - entourage - fréquentation</p>
        