
.card-header
{
    background-color: #55565e;;
}
.h1
{
    color:rgb(46, 50, 85);;
    background-color: gainsboro;
    
}
.card-body
{
    background-color: #55565e;
}
.btn
{
    background-color: rgb(234, 233, 245);;;
    color:#55565e;
}
.text-primary
{
    color:rgb(234, 233, 245);
}
